
.icon-chart-bar-horizontal:before { content: '\e805'; } /* '' */
.icon-table:before { content: '\e804'; } /* '' */
.icon-chart-pie:before { content: '\e800'; } /* '' */
.icon-chart-line:before { content: '\e801'; } /* '' */
.icon-chart-bar:before { content: '\e802'; } /* '' */
.icon-chart-area:before { content: '\e803'; } /* '' */