
.icon-BarChart:before { content: '\e805'; } /* '' */
.icon-Table:before { content: '\e804'; } /* '' */
.icon-PieChart:before { content: '\e800'; } /* '' */
.icon-LineChart:before { content: '\e801'; } /* '' */
.icon-ColumnChart:before { content: '\e802'; } /* '' */
.icon-AreaChart:before { content: '\e803'; } /* '' */
.icon-ok-circle:before { content: '\e806'; } /* '' */