<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">Temperatuur</a>
            <a class="brand" href="#">Snelheid</a>

            <!--/.nav-collapse -->
        </div>
    </div>
    <div>
        <ul>
            <li ng-repeat="session in sessions">{{session.value}}</li>
        </ul>
    </div>
</div>