<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Sessions</h3>
    </div>

    <div class="panel-body">

        <div class="row" ng-show="hasSessions()">
            <div class="col-sx-4 col-md-2" ng-repeat="session in sessions">
                <a href="#/sessiondetail/{{session.sessionId}}">
                    <div class="thumbnail session">
                        <div class="caption">

                            <h3 class="text-primary">{{session.sessionName}}</h3>
                            <span class="clearfix"></span>

                            <p>{{session.date | date:'MMM d, y h:mm:ss a'}}</p>
                            <p>@ {{session.trackName}}</p>
                            <p>{{session.comment}}</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <p ng-show="!hasSessions()">Unfortunately there are no sessions yet. Start racing green!</p>
    </div>
</div>
