<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="be.kdg.FastradaMobile"
          android:versionCode="1"
          android:versionName="1.0">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <!-- Require Android 2.3+ -->
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19"/>

    <!-- WiFi is required for this application to work -->
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="true"/>

    <application
        android:label="@string/app_name"
        android:icon="@drawable/fastradalogo">

        <!-- Splash activity -->
        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Main activity -->
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen">
        </activity>

        <!-- Settings activity -->
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/app_name">
        </activity>

        <!-- Session activity -->
        <activity
            android:name=".activities.SessionActivity"
            android:label="@string/session_details"
            android:theme="@android:style/Theme.Holo.Dialog">
        </activity>

        <!-- About activity -->
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/app_name">
        </activity>


        <!-- Services -->
        <service android:name=".services.ArduinoService"/>
        <service android:name=".services.CommunicationService"/>
    </application>
</manifest>
