
.chart {

    height: 500px;
    width: 500px;
}

.icons {
    padding: 15px 0 5px;
    font-size: 1.8em;
    height: 415px;
}

.session {
    font-size: 1.2em;
}

.session:hover {
    background-color: #158cba;
}

.session:hover h3,
.session:hover p,
.session:hover span {
    color: white;
}

a:hover {
    text-decoration: none;
}

.logo {
    width: 200px;
}

.logo_text {
    padding: 50px 0 0 0;
}

.subtext {
    margin: 0 0 0 250px;
    color: green;
}

.withborder {
    border-right: 1px solid #e7e7e7;
    border-width: 0 2px 0 0;
}

.google-visualization-table-table td {
    text-align: center;
}

.delete {
    float: right;
    padding: 20px 5px 5px 5px;
}

.alerts {
    -webkit-transition: all linear 0.5;
    -moz-transition: all linear 0.5s;
    -ms-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s;
    opacity: 1;
}

.alerts.ng-hide-add {
    opacity: 1;
}

.alerts.ng-hide-remove {
    opacity: 0;
}

.footer {
    margin: 30px auto;
    padding-top: 5px;
    border-top: 1px solid #dddddd;
}

.loading {
    height: 400px;
    width: 100%;
    position: relative;
    display: block;
    border: 1px #ccc solid;
    padding-left: 50%;
    padding-top: 200px;
}

.map {
    height: 500px;
    margin-top: 10px;
}

.metadata {
    padding-top: 10px;
}

.metadata p {
    padding: 0px;
}

.metadata p.comment {
    margin-top: 93px;
}

.metadata span {
    font-weight: bold;
}

.nodataError {
    padding: 10px;
}